<div class="container">
  <div class="table-container">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Number of Vehicles</mat-label>
        <input matInput type="number" [(ngModel)]="numberOfVehicles" min="1" max="50">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of Customers</mat-label>
        <input matInput type="number" [(ngModel)]="numberOfCustomers" min="1" max="2  00">
      </mat-form-field>
      <button mat-raised-button color="accent" class="padded-button" (click)="createScenario()">Create Scenario</button>
    </div>
    <table mat-table [dataSource]="scenarios" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let scenario">
          <mat-chip (click)="copyIdToClipboard(scenario.id)">{{scenario.id}}</mat-chip>
        </td>
      </ng-container>

      <!-- Vehicles Column -->
      <ng-container matColumnDef="vehicles">
        <th mat-header-cell *matHeaderCellDef> Vehicles </th>
        <td mat-cell *matCellDef="let scenario"> {{scenario.vehicles.length}} </td>
      </ng-container>

      <!-- Customers Column -->
      <ng-container matColumnDef="customers">
        <th mat-header-cell *matHeaderCellDef> Customers </th>
        <td mat-cell *matCellDef="let scenario"> {{scenario.customers.length}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let scenario">
          <div class="actions-container">
            <button mat-stroked-button color="primary" (click)="showDetails(scenario)">Show Details</button>
            <button mat-stroked-button color="warn" (click)="deleteScenarioById(scenario.id)">Delete</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-card class="details">
    <mat-card-header>
      <mat-card-title>Scenario Details</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="selectedScenario">
      <mat-chip class="chip" color="primary" (click)="copyIdToClipboard(selectedScenario.id)">ID: {{selectedScenario.id}}</mat-chip>
      <div class="details-row">
        <button mat-stroked-button color="primary" matBadge="{{selectedScenario?.vehicles.length}}" matBadgeColor="accent"
                (click)="toggleVehicles()">Show Scenario Vehicles
        </button>
      </div>
      <div *ngIf="showVehicles">
        <table mat-table [dataSource]="selectedScenario.vehicles" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let vehicle; let i = index"> {{i + 1}} </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['position', 'id']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['position', 'id'];"></tr>
        </table>
      </div>
      <div class="details-row">
        <button mat-stroked-button color="primary" matBadge="{{selectedScenario?.customers.length}}" matBadgeColor="accent"
                (click)="toggleCustomers()">Show Scenario Customers
        </button>
      </div>
      <div *ngIf="showCustomers">
        <table mat-table [dataSource]="selectedScenario.customers" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let customer; let i = index"> {{i + 1}} </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['position', 'id']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['position', 'id'];"></tr>
        </table>
      </div>
      <app-map [vehicles]="selectedScenario?.vehicles" [customers]="selectedScenario?.customers"></app-map>
    </mat-card-content>
  </mat-card>
</div>
